<app-navbar></app-navbar>

<div class="container">
  <form [formGroup]="addcreditcard" class="form-box">
    <div class="form-group">
      <label>Credit Card Number</label>
      <input type="text" formControlName="CCNo" class="form-control mb-3 mt-3" placeholder="Please Add Credit Card Number" required />
      <div *ngIf="addcreditcard.get('CCNo')?.invalid && (addcreditcard.get('CCNo')?.dirty || addcreditcard.get('CCNo')?.touched)" class="text-danger">
        <div *ngIf="addcreditcard.get('CCNo')?.errors?.['required']">Please Add Credit Card Number</div>
        <div *ngIf="addcreditcard.get('CCNo')?.errors?.['pattern']">Invalid Credit Card Number</div>
      </div>
    </div>
    <div class="form-group">
      <label>User Name</label>
      <input type="text" formControlName="CCName" class="form-control mb-3 mt-3" placeholder="User Name" required />
      <div *ngIf="addcreditcard.get('CCName')?.invalid && (addcreditcard.get('CCName')?.dirty || addcreditcard.get('CCName')?.touched)" class="text-danger">
        User Name
      </div>
    </div>
    <div class="form-group">
      <label>Card Expiry</label>
      <input
        type="text"
        formControlName="CCExp"
        class="form-control mb-3 mt-3"
        placeholder="MM/YYYY"
        bsDatepicker
        [bsConfig]="bsConfig"
        required
      />
      <div *ngIf="addcreditcard.get('CCExp')?.invalid && (addcreditcard.get('CCExp')?.dirty || addcreditcard.get('CCExp')?.touched)" class="text-danger">
        Card Expiry is required.
      </div>
    </div>
      
    <div class="form-group">
      <label>Bank Name</label>
      <input type="text" formControlName="Bname" class="form-control mb-3 mt-3" placeholder="Bank Name" required />
      <div *ngIf="addcreditcard.get('Bname')?.invalid && (addcreditcard.get('Bname')?.dirty || addcreditcard.get('Bname')?.touched)" class="text-danger">
        Bank Name
      </div>
    </div>
    <div class="form-group">
      <label>CVV Number</label>
      <input
        type="text"
        formControlName="Cvvnum"
        class="form-control mb-3 mt-3"
        placeholder="CVV number"
        required
      />
      <div
        *ngIf="addcreditcard.get('Cvvnum')?.invalid && (addcreditcard.get('Cvvnum')?.dirty || addcreditcard.get('Cvvnum')?.touched)"
        class="text-danger"
      >
        <ng-container *ngIf="addcreditcard.get('Cvvnum')?.errors?.['required']">
          CVV number is required.
        </ng-container>
        <ng-container *ngIf="addcreditcard.get('Cvvnum')?.errors?.['pattern']">
          CVV number should be a 3 number.
        </ng-container>
      </div>
    </div>
    
    <div class="form-group">
      <label>Active/Inactive</label>
      <select formControlName="Act" class="form-control mb-3 mt-3" required>
        <option value="">Select Active/Inactive</option>
        <option value="Active">Active</option>
        <option value="Inactive">Inactive</option>
      </select>
      <div
        *ngIf="addcreditcard.get('Act')?.invalid && (addcreditcard.get('Act')?.dirty || addcreditcard.get('Act')?.touched)"
        class="text-danger"
      >
        Active or Inactive is required.
      </div>
    </div>
    
    <div class="form-group">
      <label>Nick Name</label>
      <input type="text" formControlName="NName" class="form-control mb-3 mt-3" placeholder="Nick Name" required />
      <div *ngIf="addcreditcard.get('NName')?.invalid && (addcreditcard.get('NName')?.dirty || addcreditcard.get('NName')?.touched)" class="text-danger">
        Nick Name
      </div>
    </div>
    <div class="form-group">
      <label>Unique id</label>
      <input type="text" formControlName="uid" class="form-control mb-3 mt-3" placeholder="Unique id" required />
      <div *ngIf="addcreditcard.get('uid')?.invalid && (addcreditcard.get('uid')?.dirty || addcreditcard.get('uid')?.touched)" class="text-danger">
        Unique id
      </div>
    </div>
    <div class="form-group">
      <label>id</label>
      <input type="text" formControlName="id" class="form-control mb-3 mt-3" placeholder="Unique id" required />
      <div *ngIf="addcreditcard.get('id')?.invalid && (addcreditcard.get('id')?.dirty || addcreditcard.get('id')?.touched)" class="text-danger">
        Unique id
      </div>
    </div>
    <div class="form-group">
      <label>Credit Card Type</label>
      <select formControlName="CCType" class="form-control mb-3 mt-3" required>
        <option value="">Select Credit Card Type</option>
        <option value="Visa">Visa</option>
        <option value="MasterCard">MasterCard</option>
        <option value="RupyCard">RupyCard</option>
      </select>
      <div *ngIf="addcreditcard.get('CCType')?.invalid && (addcreditcard.get('CCType')?.dirty || addcreditcard.get('CCType')?.touched)" class="text-danger">
        Credit Card Type is required.
      </div>
    </div>  
    <button (click)="addcc()">Submit</button>
  </form>

  <div class="card-container">
    <div class="card">
      <div class="card-image">
        <div class="card-number">CC No: {{ addcreditcard.get('CCNo')?.value }}</div>
        <div class="card-type">Card Name: {{ addcreditcard.get('CCName')?.value }}</div>
        <div class="card-type">Card Expiry: {{ addcreditcard.get('CCExp')?.value }}</div>
        <div class="card-type">Bank Name: {{ addcreditcard.get('Bname')?.value }}</div>
        <div class="card-type">Cvv: {{ addcreditcard.get('Cvvnum')?.value }}</div>
        <div class="card-type">Active/Inactive: {{ addcreditcard.get('Act')?.value }}</div>
        <div class="card-nickname">Nick Name: {{ addcreditcard.get('NName')?.value }}</div>
      </div>
    </div>
  </div>
</div>
