<div class="container">
  <ul class="card-list">
    <li *ngFor="let detail of creditList" class="card-item" (click)="onCardClick(detail)">
      <strong>Credit Card Number:</strong> {{ detail.CCNo }}<br>
      <strong>Credit Card Name:</strong> {{ detail.CCName }}<br>
      <strong>Credit Card Expiry Date:</strong> {{ detail.CCExp }}<br>
      <strong>Credit Card Name:</strong> {{ detail.Bname }}<br>
      <strong>Credit Card Cvvnum:</strong> {{ detail.Cvvnum }}<br>
      <button (click)="update(detail)">update</button>
      <button (click)="delete(detail.id)">delete</button>
      <br>
    </li>
  </ul>
</div>
