<div class="container">
  <ul class="card-list">
    <li *ngFor="let detail of creditList" class="card-item" (click)="onCardClick(detail)">
      <strong>Id:</strong>{{detail.id}}<br>
      <strong>Nick Name:</strong>{{detail.NName}}<br>
      <strong>Card Number:</strong> {{ detail.CCNo }}<br>
      <strong>Card Name:</strong> {{ detail.CCName }}<br>
      <strong>Card Expiry Date:</strong> {{ detail.CCExp }}<br>
      <strong>Card Name:</strong> {{ detail.Bname }}<br>
      <strong>Card Cvvnum:</strong> {{ detail.Cvvnum }}<br>
      <strong>Card Active/InActive:</strong>{{ detail.Act}}<br>
      <strong>card Type:</strong>{{detail.CCType}}<br>
      <button (click)="update(detail)">update</button>
      <button (click)="delete(detail.id)">delete</button>
      <button (click)="toggleCardStatus(detail)">
        {{ detail.Act === 'Active' ? 'Deactivate' : 'Activate' }}
      </button>
      <br>
    </li>
  </ul>
</div>
