.navbar {
    background-color: #f8f9fa; 
    padding: 10px 20px;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333; 
    text-decoration: none;
  }
  
  .navbar-toggler {
    border: none;
    outline: none;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    color: #333;
    font-weight: bold;
    text-decoration: none;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #007bff; 
  }
  
  .nav-link.active {
    color: #007bff; 
  }
  