<div class="container">
    <form [formGroup]="loginForm" class="form-box">
        <div class="form-group">
            <label>Login</label>
            <input type="text" formControlName="fname1" class="form-control mb-3 mt-3" placeholder="Enter User Email id" required />
            <div *ngIf="loginForm.get('fname1')?.invalid && (loginForm.get('fname1')?.dirty || loginForm.get('fname1')?.touched)"
                class="text-danger">
                Email is required.
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password1" class="form-control mb-3 mt-3" placeholder="Enter User Password" required />
            <div *ngIf="loginForm.get('password1')?.invalid && (loginForm.get('password1')?.dirty || loginForm.get('password1')?.touched)"
                class="text-danger">
                Password is required.
            </div>
        </div>
        <div>
            <span>Create New Account <a routerLink="signup">signup</a></span>
            <br>
            <button type="submit" class="btn btn-success" (click)="login()" [disabled]="!loginForm.valid">Submit</button>
        </div>
    </form>
</div>
