<app-navbar [uid]="uid"></app-navbar>
<div class="outer-div">
  <div class="top-container">
    <div class="left-container">
      <div class="box loan-amount-container">
        <div class="top top-container">
          <div class="loan-amount-txt">
            <mat-label>Loan Amount</mat-label>
          </div>
          <div class="loan-amout-value">
            ₹<input type="number" matInput [(ngModel)]="loanAmount"  class="input-la" />
          </div>
        </div>
        <div class="slider slider-container">
          <mat-slider [min]="min" [max]="creditAMount" [step]="step">
            <input matSliderThumb [(ngModel)]="loanAmount">
          </mat-slider>
          
        </div> 
      </div>
      <div class="box rate-container">
        <div class="top top-container">
          <div class="rate-txt">
            <mat-label>Rate of Interest</mat-label>
          </div>
          <div class="rate-value">
            %<input type="number" matInput [(ngModel)]="rateOfInterest" class="input-roi" />
          </div>
        </div>
        <div class="slider-container">
          <div class="slider">
            <mat-slider [min]="min" [max]="max" [step]="step">
              <input matSliderThumb [(ngModel)]="rateOfInterest">
            </mat-slider>
          </div>
        </div>
      </div>
      
      <div class="box loan-term-container">
        <div class="top top-container">
          <div class="loan-term-txt">
            <mat-label>Loan Term</mat-label>
          </div>
          <div class="loan-amout-value">
            Month<input
              matInput
              [(ngModel)]="loanTerm"
              type="number"
              class="input-lt"
            />
          </div>
        </div>
        <mat-slider [min]="min" [max]="monthmax" [step]="step">
          <input matSliderThumb [(ngModel)]="loanTerm">
        </mat-slider>
      </div>
      <button mat-raised-button color="primary" (click)="calculateLoan()">
        Calculate
      </button>
    </div>
    <div class="right-container">
      <div id="loanChart"></div>
      <div class="breakdown">
        <h3>Loan Calculation</h3>
        <p>Loan Amount: {{ loanAmount }}</p>
        <p>Rate of Interest: {{ rateOfInterest }}%</p>
        <p>Loan Term: {{ loanTerm }} month</p>
        <p>Total Interest: {{ calculateInterest() }}</p>
        <p>Total Amount: {{ calculateTotalAmount() }}</p>
        <p>Monthly Installment: {{ calculateMonthlyInstallment() }}</p>
      </div>
    </div>
  </div>
  <div class="bottom-container">
  </div>
</div>
