.outer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffe6f2;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.left-container {
  flex: 1;
  margin-right: 20px;
}

.box {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box .top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.box .loan-amout-value {
  display: flex;
  align-items: center;
}

.input-la,
.input-roi,
.input-lt {
  width: 80px;
  margin-left: 10px;
  border: none;
  background-color: #f8f8f8;
  padding: 5px;
  border-radius: 5px;
}

.slider-container {
  margin-top: 10px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.right-container {
  flex: 1;
}

.bottom-container {
  margin-top: 20px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

#loanChart {
  height: 300px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.breakdown {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.breakdown h3 {
  margin-bottom: 10px;
  font-family: 'Arial', sans-serif;
  color: #ff80b3;
}

.breakdown p {
  margin-bottom: 5px;
  font-family: 'Arial', sans-serif;
  color: #666;
}
