<div class="container">
  <form [formGroup]="signupForm" class="form-box">
    <div class="form-group">
      <label>Signup</label>
      <input type="email" formControlName="fname" class="form-control mb-3 mt-3" placeholder="Enter User Email id" required />
      <div *ngIf="signupForm.get('fname')?.invalid && (signupForm.get('fname')?.dirty || signupForm.get('fname')?.touched)" class="text-danger">
        Email is required.
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" class="form-control mb-3 mt-3" placeholder="Enter User Password" required />
      <div *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)" class="text-danger">
        Password is required.
      </div>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword" class="form-control mb-3 mt-3" placeholder="Please Confirm Password" required />
      <div *ngIf="signupForm.get('confirmPassword')?.invalid && (signupForm.get('confirmPassword')?.dirty || signupForm.get('confirmPassword')?.touched)" class="text-danger">
        Confirm Password is required.
      </div>
    </div>
    <div class="form-group">
      <label>Phone Number</label>
      <input type="number" formControlName="fnumber" class="form-control mb-3 mt-3" placeholder="Please Enter Mobile Number" minlength="10" maxlength="10" required />
      <div *ngIf="signupForm.get('fnumber')?.invalid && (signupForm.get('fnumber')?.dirty || signupForm.get('fnumber')?.touched)" class="text-danger">
        Phone Number is required.
      </div>
    </div>          
    <div class="form-group">
      <label>Active / Inactive Type</label>
      <select formControlName="ActType" class="form-control mb-3 mt-3" required>
        <option value="">Select Active / Inactive</option>
        <option value="Active">Active</option>
        <option value="Inactive">Inactive</option>
      </select>
      <div *ngIf="signupForm.get('ActType')?.invalid && (signupForm.get('ActType')?.dirty || signupForm.get('ActType')?.touched)" class="text-danger">
        Active / Inactive Type is required.
      </div>
    </div>    
    <div class="form-group">
      <label>Credit Card Number</label>
      <input type="number" formControlName="CCnumber" class="form-control mb-3 mt-3" placeholder="Enter User CC Number" required />
      <div *ngIf="signupForm.get('CCnumber')?.invalid && (signupForm.get('CCnumber')?.dirty || signupForm.get('CCnumber')?.touched)" class="text-danger">
        Credit Card Number is required.
      </div>
    </div>
    <div class="form-group">
      <label>Credit Card Type</label>
      <select formControlName="CCType" class="form-control mb-3 mt-3" required>
        <option value="">Select Credit Card Type</option>
        <option value="Visa">Visa</option>
        <option value="MasterCard">MasterCard</option>
        <option value="RupyCard">RupyCard</option>
      </select>
      <div *ngIf="signupForm.get('CCType')?.invalid && (signupForm.get('CCType')?.dirty || signupForm.get('CCType')?.touched)" class="text-danger">
        Credit Card Type is required.
      </div>
    </div>    
    <div class="form-group">
      <label>User Name</label>
      <input type="text" formControlName="uid" class="form-control mb-3 mt-3" placeholder="Enter User Name"  required />
      <div *ngIf="signupForm.get('uid')?.invalid && (signupForm.get('uid')?.dirty || signupForm.get('uid')?.touched)" class="text-danger">
        Unique id is required.
      </div>
    </div>
    
    <span>Already have an Account <a routerLink="">Login</a></span>
    <br />
    <button type="submit" class="btn btn-success" [disabled]="signupForm.invalid">Submit</button>
    
    <div *ngIf="signupForm.invalid && (signupForm.dirty || signupForm.touched)" class="text-danger mt-3">
      Please fill in all required fields.
    </div>
  </form>
</div>
