<div class="container">
    <form [formGroup]="signupForm" class="form-box">
      <div class="form-group">
        <label>Signup</label>
        <input type="text" formControlName="fname" class="form-control mb-3 mt-3" placeholder="Enter User Email id" required />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control mb-3 mt-3" placeholder="Enter User Password" required />
      </div>
      <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control mb-3 mt-3" placeholder="Please Confirm Password" required />
      </div>
      <div class="form-group">
        <label>Phone Number</label>
        <input type="number" formControlName="fnumber" class="form-control mb-3 mt-3" placeholder="Please Enter Mobile Number" required />
      </div>
      <div class="form-group">
        <label>Active / Inactive Type</label>
        <input type="text" formControlName="ActType" class="form-control mb-3 mt-3" placeholder="Enter User CC Active or not" required />
      </div>
      <div class="form-group">
        <label>Credit Card Number</label>
        <input type="number" formControlName="CCnumber" class="form-control mb-3 mt-3" placeholder="Enter User CC Number" required />
      </div>
      <div class="form-group">
        <label>Credit Card Type</label>
        <input type="text" formControlName="CCType" class="form-control mb-3 mt-3" placeholder="Enter User CC Type" required />
      </div>
      
      <div class="form-group">
        <label>Unique id</label>
        <input type="text" formControlName="uid" class="form-control mb-3 mt-3" placeholder="Enter User uuid" required />
      </div>
      <span>Already have an Account <a routerLink="">Login</a></span>
      <br />
      <button type="submit" class="btn btn-success" (click)="signup()">Submit</button>
    </form>
  </div>
  